<ion-header>
  <ion-toolbar>
    <ion-title>{{ isNew ? 'New Dish' : 'Edit Dish' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="dish.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-input [(ngModel)]="dish.category"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="dish.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input [(ngModel)]="dish.price" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image URL</ion-label>
      <ion-input [(ngModel)]="dish.imageUrl"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
