<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> FoodApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card id="maincard">
      <ion-header>
        <ion-title><h1>Bienvenido</h1> </ion-title>
      </ion-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button (click)="goNextPage('/dishes')" class="menubutton"
                ><ion-icon size="large" name="fast-food-outline"></ion-icon
                >Platillos</ion-button
              >
            </ion-col>
            <ion-col>
              <ion-button class="menubutton"
                ><ion-icon size="large" name="people-circle-outline"></ion-icon
                >Usuarios</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="menubutton"
                ><ion-icon size="large" name="people-circle-outline"></ion-icon
                >Usuarios</ion-button
              >
            </ion-col>
            <ion-col>
              <ion-button class="menubutton"
                ><ion-icon size="large" name="people-circle-outline"></ion-icon
                >Usuarios</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
